{% extends 'dummy.html' %}

{% block title %}
    <title>Set New Password</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Set New Password</h1>
    
    <form method="POST">
        {% csrf_token %}
        
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required>
        <br><br>
        
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <br><br>
        
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </form>
</center>
{% endblock %}